*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

ugur_export.sql
ugurkantekin_db2*.sql
uğur kantekin yedek/
public/wp-content/uploads/smack_uci_uploads/
public/wp-content/uploads/wpallexport/
*yedek/
ugurkantekin_db2*
